__pycache__/
*.py[cod]
.venv/
.env
.vscode/
.idea/
*.db
*.sqlite*
logs/
*.log
data/uploads/*
data/exports/*
!data/uploads/.gitkeep
!data/exports/.gitkeep
.pytest_cache/
.coverage
htmlcov/
Thumbs.db
.DS_Store

data/dev_mail_outbox/*
!data/dev_mail_outbox/.gitkeep
